.hero {
    background: linear-gradient(#0070ff, #0051ff);
    background-image: url('../img/webpage_bgvideo.mp4');
    background-repeat: no-repeat;
    background-size: cover; 
    background-blend-mode: hard-light;
    color: #fff;
    height: fit-content;
    padding: 2.5em;
    padding-top: 10em;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: row;
}

.slogan {
    padding: 1em;
    text-align: left;
    margin-right: 12em;
    filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.25));
}

.form-container {
    margin: auto;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.5em;
    padding: 2em 1em;
    color: #000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.onboarding-form {
    display: flex;
    flex-flow: column;
    align-content: center;
    float: right;
} .onboarding-form .title {
    font-size: 2em;
    font-weight: 800;
}

.terms-link {
    font-size: 0.75em;
    color: #aaa;
}

/* TECH STACK SECTION */
.tech-stack {
    padding: 4em 2em;
    background-color: #eee;
}
.images {
    display: flex;
    flex-flow: row;
    align-content: center;
}
.tech {
    margin: auto;
} .tech img {
    max-height: 80px;
}

/* FEATURES SECTION */
.features {
    padding: 4em 2em;
}

/* SEARCH */
.searchBox {
    z-index: 12000;
    transition: all 0.25s ease;
} .searchBox[class~="active"] {
    position: absolute;
    top: 5em;
}

.searchWindow {
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 10000;
    max-width: 300px;
    background: #fff;
    transition: all 0.25s ease;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    animation: slideWindow 0.5s ease forwards;
} @keyframes slideWindow {
    from {
        left: -50%;        
    } 
    to {
        left: 0;
    }
}